<div class="row">
    <div class="col-12">
        <table class="table table-horvered table-striped">
            <thead>
                <tr>
                    <th>Peso</th>
                    <th>Prazo</th>
                    <th>Endereço de entrega</th>
                    <th>Nome do entregador</th>
                    <th>Documento do entregador</th>
                    <th>Código do pacote</th>
                    <th>Validar</th>
                    <th>Checkout</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20kg</td>
                    <td>2 dias</td>
                    <td>Rua Fernandez Palero</td>
                    <td>Matheus Catossi</td>
                    <td>45084552802</td>
                    <td>1234</td>
                    <td>
                        <input type="button" class="btn btn-primary form-control" value="VALIDAR" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-dark form-control" value="CHECKOUT" />
                    </td>
                </tr>
                <tr>
                    <td>20kg</td>
                    <td>2 dias</td>
                    <td>Rua Fernandez Palero</td>
                    <td>Matheus Catossi</td>
                    <td>45084552802</td>
                    <td>1234</td>
                    <td>
                        <input type="button" class="btn btn-primary form-control" value="VALIDAR" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-dark form-control" value="CHECKOUT" />
                    </td>
                </tr>
                <tr>
                    <td>20kg</td>
                    <td>2 dias</td>
                    <td>Rua Fernandez Palero</td>
                    <td>Matheus Catossi</td>
                    <td>45084552802</td>
                    <td>1234</td>
                    <td>
                        <input type="button" class="btn btn-primary form-control" value="VALIDAR" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-dark form-control" value="CHECKOUT" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>