<div class="row">
    <div class="col-12 text-right">
        <h1 class="display-4">
            <a (click)="openLg(content)">
                <i class="fas fa-plus pointer"></i>
            </a>
        </h1>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Cadastro de Pacote</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row gap-top5">
            <div class="col-4 gap-top5">
                <h4>
                    Peso
                </h4>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" [(ngModel)]="peso" />
            </div>
        </div>
        <div class="row gap-top5">
            <div class="col-4 gap-top5">
                <h4>
                    Prazo
                </h4>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" [(ngModel)]="prazo" />
            </div>
        </div>
        <div class="row gap-top5">
            <div class="col-4 gap-top5">
                <h4>
                    Endereço da Entrega
                </h4>
            </div>
            <div class="col-2 text-left gap-top5">
                <p>
                    Latitude
                </p>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" value="-23.5665414" [(ngModel)]="lat" />
            </div>
            <div class="col-2 text-left gap-top5">
                <p class="text-left">
                    Longitude
                </p>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" value="-46.4013874" [(ngModel)]="lng" />
            </div>
        </div>

        <div class="row gap-top5">
            <div class="col-4 gap-top5">
                <h4>
                    Entregador
                </h4>
            </div>
            <div class="col-8">
                <select class="form-control" id="user" [(ngModel)]="user">
                    <option *ngFor="let user of users" value="{{user.id}}">{{user.name}} - {{user.distance}} km</option>
                </select>
            </div>
        </div>
        <div class="row gap-top5">
            <div class="col-4 offset-6">
                <input type="button" class="btn btn-primary form-control button-accent" (click)="cadPackage()" value="ADICIONAR" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<div class="row">
    <div class="col-12">
        <table class="table table-horvered table-striped">
            <thead>
                <tr>
                    <th class="text-center">Peso</th>
                    <th class="text-center">Prazo</th>
                    <th class="text-center">Endereço de entrega</th>
                    <th class="text-center">Nome do entregador</th>
                    <th class="text-center">Documento do entregador</th>
                    <th class="text-center">Validar</th>
                    <th class="text-center">Checkout</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let package of packages">
                    <td>{{package.weight}}kg</td>
                    <td>{{package.deadline_days}} dia(s)</td>
                    <td>{{package.delivery_address}}</td>
                    <td>{{package.name}}</td>
                    <td>{{package.document}}</td>
                    <td>
                        <input type="button" class="btn btn-dark form-control" value="VALIDAR" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-dark form-control button-accent" value="CHECKOUT" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <span>
            <input type="button" value="REFRESH" (click)="listPackages()" class="btn btn-dark" />
        </span>
    </div>
</div>