.gap-top5 {
    margin-top:5px;
}

.pointer {
    cursor:pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.gap-top5 {
    margin-top:5px;
}

.title-page {
    margin-top:20px;
    color: #2e2e2e;
    font-size: 40px;
}

.text-left{ 
    text-align: left;
}

.title {
    /* margin-top:10px; */
    color: #ffffff;
    font-size: 25px;
}

.card-home {
    padding:20px;
    margin-top:20px;
}

html,body{
    height:100%;
   }

.home {
    height:100vh;
    display: flex;
    flex-direction: column;
    background: #acacac;
}

.button-accent {
      /* #448FFB --azul */
/* #FE8B35 --laranja */
    background: #FE8B35!important;
}