<nav class="navbar navbar-title">
 
  <a class="navbar-brand title" href="#">
    <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top img-title" alt="">
    LoggiBox - Dynamic CD
  </a>
</nav>
<div class="row home">
  <div class="col-12">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-12">
          <div class="card card-home">
            <div class="row">
              <div class="col-12">
                <h4 class="title-info">Minhas Distribuições</h4>
              </div>
            </div>
            <div class="row>">
              <div class="col-12">
                <router-outlet></router-outlet>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <span>
                  <input type="button" value="HISTÓRICO" class="btn btn-dark" />
                </span>
              </div>
            </div>
          </div>
          <div class="card card-home">
            <div class="row">
              <div class="col-12">
                <h4 class="title-info">Minhas informações</h4>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-4">
                    <h6>
                      <b>Nome</b>
                    </h6>
                  </div>
                  <div class="col-8">
                    Centro de Distribuições Juazeiro
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h6>
                      <b>Endereço</b>
                    </h6>
                  </div>
                  <div class="col-8">
                    Rua Fernandez Palero, 225
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h6>
                      <b>Quantidade de entregadores</b>
                    </h6>
                  </div>
                  <div class="col-8">
                    78
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h6>
                      <b>Quantidade de entregas mensais</b>
                    </h6>
                  </div>
                  <div class="col-8">
                    1200
                  </div>
                </div>
              </div>
              <div class="col-6">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>